$bgColor: rgb(238 237 242);
$mainColor: rgb(158, 118, 118);
$buttonColor: rgb(129, 91, 91);
$borderColor: rgb(89, 69, 69);



.body {
    background-color: $bgColor;
}


.lista {
    width: 200px;
    height: 100px;
    background-color: $bgColor;
    border: 5px dashed $borderColor;
    padding: 25px;
    margin: 50px;
    font-size: medium;
    
}

.encabezado {
   
    font-family: 'Raleway', sans-serif;
    color: $mainColor;
    width: 25%;
}

.titulo {
    font-family: 'Raleway', sans-serif;
    color: $mainColor;
}

.nombre {
    color: $mainColor;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.item_extra{
    color: $mainColor;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
 
.enlaces {
    padding: 10px 20px;
    width: 30vh;
    background-color:$bgColor;
    border-radius: 10px;

}

.listado {
    width: 90%;
    height: 60%;
    background-color: $bgColor;
    border-radius: 20px ;

}

.muestra{
    display: flex;
    padding: 10px;
    padding-left: 10px;
    gap: 10px;
    flex-wrap: row;
    justify-content: center;
}

.muestra .item img{
    width: 100%;
    max-width: 200px;
    height: 100%;

}

.barra .barra_menu{
    display: flex;
    background-color: $bgColor;
    padding: 10px;
    padding-left: 10px;
    gap: 10px;
    flex-wrap: row wrap;
    justify-content: center;


}


.barra {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: $buttonColor;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: $mainColor;
}


a:hover{
    color: $mainColor;
}

.barra .carritouno{
background-color: $bgColor;
grid-column: 1/2;

}
  
.barra .basesuno{
background-color: $bgColor;
grid-column: 2/3;
}

.barra .labialesuno{
background-color: $bgColor;
grid-column: 3/4;

}

.barra .ojosuno{ 
background-color: $bgColor;
grid-column: 4/5;

}


          
   